<section><h1>Admin settings</h1><button (click)="saveSettings()">Save settings</button><button>Live update</button></section>
<section><table>
  <tr><td>Global settings</td></tr>
</table></section>
<section>
<table>
  <tr><td colspan="3"><h2>List of available languages</h2>
  </td>
     </tr>

  <tr class="active" *ngFor="
      let country of adminSettings.countries;
      let i = index;
      trackBy: trackByCountry
    ">
    <td  colspan="2">
      <ng-container *ngIf="editCountryIndex === i; else displayCountry">
        <input type="text" [(ngModel)]="adminSettings.countries[i]" />
      </ng-container>
      <ng-template #displayCountry>
        {{ country }}
      </ng-template>
    </td>
    <td>
      <div class="icon-container">
        <i class="bi bi-pencil-fill" *ngIf="editCountryIndex !== i" (click)="editCountry(i)"></i>
        <i class="bi bi-floppy-fill" *ngIf="editCountryIndex === i" (click)="saveCountry(i)"></i>
        <i class="bi bi-trash3-fill" (click)="deleteCountry(i)"></i>
      </div>
    </td>
  </tr>

  <tr>
    <th colspan="2">Add new country</th>
  </tr>
  <tr>
    <td colspan="2">
      <input type="text" [(ngModel)]="newCountry" placeholder="Add new country" [value]="newCountry" />
    </td>
    <td><button (click)="addNewCountry()">Add new country</button></td>
  </tr>
</table>
</section>
<section>

</section>

<section>
<table>
  <tr>
    <td colspan="3"> <h2>List of available radio streams:</h2></td>
  </tr>
  <tr>
    <th>Description</th>
    <th>Stream URL</th>
    <th>Action</th>
  </tr>
  <tr class="active" *ngFor="let radio of adminSettings.radioStreamList; let i = index">
    <td class="td-left" colspan="">
      <ng-container *ngIf="editRadioStreamIndex === i; else displayDescription">
        <input type="text" [(ngModel)]="radio.description" />
      </ng-container>
      <ng-template #displayDescription>
        {{ radio.description }}
      </ng-template>
    </td>
    
    <td class="td-left" >
      <ng-container *ngIf="editRadioStreamIndex === i; else displayUrl">
        <input type="text" [(ngModel)]="radio.url" />
      </ng-container>
      <ng-template #displayUrl>
        {{ radio.url }}
      </ng-template>
    </td>
    <td>
      <div class="icon-container">
        <i class="bi bi-pencil-fill" *ngIf="editRadioStreamIndex !== i" (click)="editRadioStream(i)"></i>
        <i class="bi bi-floppy-fill" *ngIf="editRadioStreamIndex == i" (click)="saveRadioStream(i)"></i>
        <i class="bi bi-trash3-fill" (click)="deleteRadioStream(i)"></i>
        
        <i *ngIf="
            !(radioStreamService.adminSettingsAudioState$ | async) ||
            currentPlayingStreamIndex !== i
            " class="bi bi-play-fill" (click)="playRadioStream(i, radio.url)"></i>

<i *ngIf="
            (radioStreamService.adminSettingsAudioState$ | async) &&
            currentPlayingStreamIndex === i
            " class="bi bi-stop-fill" (click)="
            radioStreamService.stopRadioStream(
              this.radioStreamService.adminSettingsAudio$
            )
            "></i>
      </div>
    </td>
  </tr>
  <tr class="new-record">
    <td>
      <input [(ngModel)]="newRadioDescription" type="text" placeholder="Enter radio description"
      [value]="newRadioDescription" />
    </td>
    <td>
      <input [(ngModel)]="newRadioUrl" type="text" placeholder="Enter stream URL" [value]="newRadioUrl" />
    </td>
    <td>
      <button (click)="addRadioStream()">Add Stream</button>
    </td>
  </tr>
</table>
</section>


