@use "../../../styles/variables.scss" as *;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $secondaryColor;
  gap: 2rem;
}

table {
  max-width: 650px;
  text-align: center;
}

h2 {
  text-align: center;
  color: $secondaryColor;
}

button {
  border: 1px solid $accentColor;
  border-radius: 2px;
  color: $secondaryColor;
  padding: 10px;
  
}

button:hover {
  background-color: $accentColor;
}

.active:hover td {
  background-color: $accentColor;
  color: #fff;
}

section {
  width: 750px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
//   border: 1px solid white;
  align-items: center;
  flex-direction: column;
  
}

section:nth-child(1) {
  width: 100%;
}

section:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}





.td-left{
    text-align: left;
}

.languages{
  width: 50%;
  opacity: 0.85;
}

img{
  margin-bottom: 30px;
}


table:nth-child(1){
  padding: 10px;
  background-color: rgba($color: #FFF, $alpha: 0.1);
}

