<section><h1>Media</h1>
  <span class="description">Remember, after adding new settings, you must press the 'Save settings' button. From that
    moment, each device will be activated with the new settings. However, if you want to change the settings on devices
    that are currently in use, click the 'Live update' button. This will reload the application on those devices.</span>


  <button (click)="liveUpdate()">Live update</button>
</section>
<section>
  <img class="image" src="/assets/images/breaking-news.gif" alt="">
  <div class="new-box">
    <span>Add new media to the list. Prefer format JPG, PNG, MP4</span>
  <div class="new-content"> <input type="file" id="fileInput" (change)="onFileSelected($event)" />
    <button (click)="addMedia()" [disabled]="!selectedFile">Add media</button>
</div></div>
</section>
<section>
<table> 
  <caption><h2>Media</h2></caption>
    
   
      <tr>
        <th>Order</th>
        <th>File name</th> 
        <th>Preview</th>
        <th>Action</th>
      </tr>

  

      <tr class="active" *ngFor="let media of mediaList; let i = index">
        <td class="td-left">{{ media.order }}</td>
        <td>{{ media.fileName }}</td>
        <td class="photo-container">
          <img *ngIf="media.fileType.startsWith('image')" class="media" [src]="getFullFilePath(media.filePath)"
            alt="{{ media.fileName }}" />
          <video *ngIf="media.fileType.startsWith('video')" class="media" [src]="getFullFilePath(media.filePath)"
            controls></video>
        </td>
        <td class="td-right">
          <div class="icon-container">
            <i class="bi bi-arrow-up" *ngIf="i > 0" (click)="moveUp(media._id)" title="Przesuń w górę"></i>
            <i class="bi bi-arrow-down" *ngIf="i < mediaList.length - 1" (click)="moveDown(media._id)"
              title="Przesuń w dół"></i>
            <i class="bi bi-trash3-fill" (click)="deleteMedia(media._id)" title="Usuń media"></i>
          </div>
        </td>
      </tr>
  
  </table>
</section>