@use "../../../styles/variables.scss" as *;




td{
    word-break: break-all;
    }
  
  .media {
    width: 192px;
    height: 108px;
    // border-radius: 50%;
    object-fit: cover;
  }
  
  .add-box {
    display: flex;
    // padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .photo-container{
    display: flex;
    justify-content: center;
  }
  


  button {
    border-radius: 6px;
    background-color: $accentColor;
    color: $secondaryColor;
    cursor: pointer;
  }
  button:hover {
    color: $primaryColor;
  }