


<section>
<video #bgVideo src="/assets/images/bg_home.mp4" playsinline muted autoplay preload="auto"></video></section>
<section>  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="isStarting" class="start">
      <h1>Welcome <span class="user">{{user}}</span> on PromoGym</h1>
 
<div class="wrapper">
<table>
  <tr>
    <td class="icons"><i class="bi bi-calendar2-week"></i></td>
    <td>{{today}}</td>
  </tr>
  <tr>
    <td class="icons"><i class="bi bi-clock-history"></i></td>
    <td>{{clockService.currentTime$ |async}}</td>
  </tr>
</table>


</div>
<button [routerLink]="['../start']"><i class="bi bi-google-play"></i> Start app</button>
<span class="quote">{{(todayQuote | async)?.content}}</span>
</div> 
</section>


