@use "../../../styles/variables.scss" as *;

:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  // background: linear-gradient(360deg, #000517 25%, #092144 100%);
  // background-color: $primaryColor;
}

.quote {
  color: $secondaryColor;
  font-style: italic;
  font-size: 1.3rem;
  opacity: 0.9;
 text-align: center;
}
section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  // border: 1px solid red;
}

.user {
  color: $accentColor;
}

section:nth-child(2) {
  padding: 30px;
  gap: 20px;
}

video {
  position: relative;
  // z-index: 100000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: $secondaryColor; /* Kolor tekstu */
  margin: 0;
}

button {
  border: 1px solid $accentColor;
  border-radius: 2px;
  color: $secondaryColor;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button:hover {
  background-color: $accentColor;
}

.wrapper {
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba($color: $secondaryColor, $alpha: 0.1);
  border: 1px solid rgba(128, 128, 128, 0.2);
}

i {
  font-size: 1rem;
}

td > i {
  color: $accentColor;
}

td {
  color: $secondaryColor;
  // border:1px solid black;
}

td:first-child {
  width: 50px;
}

table {
  margin: 0;
}

// app-globe{
//   position: relative;
//   overflow: hidden;
// }

// div{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   flex-direction: column;
// }

.start {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

img {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  :host {
    display: flex;
    flex-direction: column;
  }

  section:first-child {
    aspect-ratio: 16/9;
  }
}

@media screen and (min-width: 1024px) {
  :host {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
