<div>
    <form (ngSubmit)="addAnnouncement()" enctype="multipart/form-data">
      <div>
        <label for="file">Plik</label>
        <input type="file" (change)="onFileSelected($event)" name="file" id="file" required />
      </div>
      <div>
        <label for="description">Opis</label>
        <input type="text" [(ngModel)]="description" name="description" id="description" required />
      </div>
  
      <div>
        <label for="scheduleType">Typ harmonogramu</label>
        <select [(ngModel)]="scheduleType" name="scheduleType" id="scheduleType">
          <option value="oneTime">Jednorazowo</option>
          <option value="cyclic">Cykliczne</option>
        </select>
      </div>
  
      <!-- Cykliczny harmonogram -->
      <div class="cyclic" *ngIf="scheduleType === 'cyclic'">
        <table>
          <tr>
            <td>
              <!-- Wybór dni -->
              <div class="cyclic">
                <label for="daysOption">Wybór dni</label>
                <select [(ngModel)]="daysOption" name="daysOption" id="daysOption">
                  <option value="allDays">Wszystkie dni</option>
                  <option value="selectedDays">Wybrane dni</option>
                </select>
                <div *ngIf="daysOption === 'selectedDays'">
                  <label>Dni tygodnia</label>
                  <div *ngFor="let day of daysOfWeek; let i = index">
                    <input type="checkbox" [(ngModel)]="selectedDays[i]" name="day{{i}}" id="day{{i}}" />
                    <label for="day{{i}}">{{ day }}</label>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <!-- Wybór godzin -->
              <div class="cyclic">
                <label for="hoursOption">Wybór godzin</label>
                <select [(ngModel)]="hoursOption" name="hoursOption" id="hoursOption">
                  <option value="allHours">Wszystkie godziny</option>
                  <option value="selectedHours">Wybrane godziny</option>
                </select>
                <div *ngIf="hoursOption === 'selectedHours'">
                  <label>Wybierz godziny</label>
                  <div *ngFor="let hour of hours; let i = index">
                    <input type="checkbox" [(ngModel)]="selectedHours[i]" name="hour{{i}}" id="hour{{i}}" />
                    <label for="hour{{i}}">{{ hour }}:00</label>
                  </div>
                </div>
              </div>
            </td> 
            <td>
              <!-- Wybór minut -->
              <div class="cyclic">
                <label for="minutesOption">Wybór minut</label>
                <select [(ngModel)]="minutesOption" name="minutesOption" id="minutesOption">
                  <option value="allMinutes">Wszystkie minuty</option>
                  <option value="selectedMinutes">Wybrane minuty</option>
                </select>
                <div *ngIf="minutesOption === 'selectedMinutes'">
                  <label>Wybierz minuty</label>
                  <div *ngFor="let minute of minutes; let i = index">
                    <input type="checkbox" [(ngModel)]="selectedMinutes[i]" name="minute{{i}}" id="minute{{i}}" />
                    <label for="minute{{i}}">{{ minute }} min</label>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
  
      <!-- Jednorazowy harmonogram -->
      <div *ngIf="scheduleType === 'oneTime'">
        <label for="oneTimeDate">Data i godzina (jednorazowe)</label>
        <input type="datetime-local" [(ngModel)]="oneTimeDate" name="oneTimeDate" id="oneTimeDate" />
      </div>
      <button type="submit">Dodaj ogłoszenie</button>
    </form>
  </div>
  