.footer {
  bottom: 0;
  width: 98vw;
  margin: 0 0 1vw 0;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  font-family: "Anton", sans-serif;
}

.footer.visible {
  opacity: 1;
}

.news-logo {
  margin-right: 5px;
  flex-shrink: 0;
}

app-news-ticker {
  flex: 1 1 auto;
  display: flex !important;
  background-color: #ffffff;
  align-items: center !important;
  overflow: hidden;
  line-height: 2 !important;
  justify-content: center !important;
  font-weight: bold;
  letter-spacing: 1px;
}

.clock-box {
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  flex-shrink: 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 430px) {
  .news-logo {
    height: 4rem;
    margin-right: 5px;
  }

  app-news-ticker {
    font-size: 1.9rem;
    height: 2.5rem;
  }

  .clock-box {
    height: 2.5rem;
    font-size: 1.5rem;
    width: 70px;
  }
}

@media screen and (min-width: 431px) and (max-width: 767px) {
  .news-logo {
    height: 7rem;
  }

  app-news-ticker {
    font-size: 3rem;
    height: 4.5rem;
  }

  .clock-box {
    height: 4.5rem;
    font-size: 3.5rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news-logo {
    height: 10rem;
  }

  app-news-ticker,
  .clock-box {
    font-size: 4rem;
    height: 6rem;
    font-weight: bold;
  }

  .clock-box {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .news-logo {
    height: 12rem;
  }

  app-news-ticker,
  .clock-box {
    font-size: 4rem;
    height: 6rem;
  }

  .clock-box {
    width: 200px;
  }
}
