
<section><h1>News</h1>
  <span class="description">Remember, after adding new news, you must press the 'Save settings' button. From that
    moment, each device will be activated with the new settings. However, if you want to change the settings on devices
    that are currently in use, click the 'Live update' button. This will reload the application on those devices.</span>


  <button (click)="liveUpdate()">Live update</button></section>
<section>

    <img class="image" src="/assets/images/cfb_background.jpg" alt="">
    <div class="new-box">
      <span>Add new content to the news list</span>
    <div class="new-content"><input class="news" type="text" [(ngModel)]="newContent" placeholder="Write something and add news" />
    <button (click)="addNews()">Add news</button>
  </div></div>
</section>


<section>
  <table> 
    <caption>
      <h2>News</h2>
    </caption>










    <thead>
      <tr>
        <th>Order</th>
        <th>News</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active" *ngFor="let news of newsList; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="news" *ngIf="editingNewsId !== news._id">
          {{ news.content }}
        </td>

        <td *ngIf="editingNewsId === news._id">
          <input class="edit-input" [(ngModel)]="editedContent" placeholder="Edit news content" />
        </td>
        <td>
          <div class="icon-container">
            <i class="bi bi-arrow-up" *ngIf="i > 0" (click)="moveUp(news._id)" title="Move up news"></i>
            <i class="bi bi-arrow-down" *ngIf="i < newsList.length - 1" (click)="moveDown(news._id)"
              title="Move down news"></i>
            <i class="bi bi-pencil-fill" *ngIf="editingNewsId !== news._id" (click)="startEditing(news)"
              title="Edit news"></i>
            <i class="bi bi-floppy-fill" *ngIf="editingNewsId === news._id" (click)="saveChanges()"
              title="Save news"></i>
            <i class="bi bi-trash3-fill" (click)="deleteNews(news._id)" title="Delete news"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>