@use "../../../styles/variables.scss" as *;


:host{
    width: 100%;
}

button:hover {
    background-color: $accentColor;
  }
  

// td{
//     border: 1px solid red
// }
.new-rule{
    
    background-color:$accentColor;
    border-radius: 6px;
    text-align: center;
    color: $secondaryColor;
}

button{
    margin: 10px;
    background-color: $accentColor;
    border-radius: 6px;
    color: $secondaryColor;
    padding: 10px
}


button:hover{
    color: $primaryColor;
}

table{
    padding: 0!important;
    margin:0!important;
};



