@use "../../../styles/variables.scss" as *;
@use "../../../styles/admin.scss" as*;

iframe{
    width: 90%;
    aspect-ratio: 16/9;
}


td{
    text-align: left;
    // color: white;
    
}

tr > td:last-child{
    border:none;
}


