<section>
  <h1>General settings</h1>
  <span class="description">Remember, after adding new settings, you must press the 'Save settings' button. From that
    moment, each device will be activated with the new settings. However, if you want to change the settings on devices
    that are currently in use, click the 'Live update' button. This will reload the application on those devices.</span>



  <button>Live update</button>
</section>
<section>
<h2>Settings guide tutorial</h2>
<br>
  <iframe src="https://www.youtube.com/embed/ZFQkb26UD1Y?si=XJkRKKF8R5upXzfs" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</section>
<section>
  <table>
    <caption>
      <h2>General settings</h2>
    </caption>
    <tr>
      <td>
        User name:
        <span *ngIf="!editUserName">{{userSettings.name}}</span>
        <input *ngIf="editUserName" [(ngModel)]="userSettings.name" type="text">
      </td>
      <td>
        <div class="icon-container">
          <i class="bi bi-pencil-fill" *ngIf="!editUserName" (click)="editUserNameField()"></i>
          <i class="bi bi-floppy-fill" *ngIf="editUserName" (click)="saveUserName()"></i>
        </div>
      </td>
    </tr>

    <tr>
      <td>Select language:
        <select name="" id="" [(ngModel)]="userSettings.language">
          <option *ngFor="let language of languages" [value]="language">{{language}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Selected radio stream:
        <select [(ngModel)]="userSettings.selectedRadioStream" (change)="updateSelectedIndex($event)">
          <option *ngFor="let radio of radioStreamList; let i = index" [value]="radio.url">
            {{ radio.description }}
          </option>
        </select>
      </td>

      <td>
        <div class="icon-container">
          <i *ngIf="!(radioStreamService.userSettingsAudioState$ | async) || currentPlayingStreamIndex !== selectedRadioIndex"
            class="bi bi-play-fill"
            (click)="radioStreamService.playRadioStream(userSettings.selectedRadioStream || '', radioStreamService.userSettingsAudio$, [radioStreamService.adminSettingsAudio$, radioStreamService.sideMenuAudio$], selectedRadioIndex ?? undefined)">
          </i>

          <!-- Przycisk Stop -->
          <i *ngIf="(radioStreamService.userSettingsAudioState$ | async) && currentPlayingStreamIndex === selectedRadioIndex"
            class="bi bi-stop-fill" (click)="radioStreamService.stopRadioStream(radioStreamService.userSettingsAudio$)">
          </i>

        </div>
      </td>
    </tr>



    <tr>
      <td colspan="2">
        Set picture slide duration:
        <select name="" id="" [(ngModel)]="userSettings.pictureSlideDuration">
          <option *ngFor="let seconds of time" [value]="seconds">
            {{ seconds }}
          </option>
        </select>
        seconds per slide
      </td>
    </tr>

    <tr *ngFor="let rule of userSettings.footerVisibilityRules; let i = index">
      <td>
        <ng-container *ngIf="editFooterVisibilityIndex === i; else displayRule">
          Footer visible from minute
          <select [(ngModel)]="rule.startMinute" id="">
            <option *ngFor="let minute of time" [value]="minute">
              {{ minute }}
            </option>
          </select>
          to minute
          <select [(ngModel)]="rule.endMinute" id="">
            <option *ngFor="let minute of time" [value]="minute">
              {{ minute }}
            </option>
          </select>
        </ng-container>
        <ng-template #displayRule>Footer visible from minute {{ rule.startMinute }} to minute
          {{ rule.endMinute }}</ng-template>
      </td>
      <td>
        <div class="icon-container">
          <i class="bi bi-pencil-fill" *ngIf="editFooterVisibilityIndex !== i"
            (click)="editFooterVisibilityRule(i)"></i>
          <i class="bi bi-floppy-fill" *ngIf="editFooterVisibilityIndex === i"
            (click)="saveFooterVisibilityRule(i)"></i>
          <i class="bi bi-trash3-fill" (click)="deleteFooterVisibilityRule(i)"></i>
        </div>
      </td>
    </tr>
    <br>

    <tr>
      <td class="new-rule" colspan="2">Add new visibility footer rules</td>
    </tr>
    <tr>
      <td>
        Footer visible from minute
        <select [(ngModel)]="newStartMinute">
          <option *ngFor="let minute of time" [value]="minute">
            {{ minute }}
          </option>
        </select>to minute
        <select select [(ngModel)]="newEndMinute">
          <option *ngFor="let minute of time" [value]="minute">
            {{ minute }}
          </option>
        </select>
      </td>
      <td><button (click)="addFooterVisibilityRule()">Add rule</button></td>
    </tr>

  </table>
  <button (click)="saveSettings()">Save settings</button>

</section>