@use "variables" as *;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Saira !important;
  font-size: 16px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #31343b;
  width: 8px; /* szerokość paska przewijania */
}



table {
  border-collapse: separate;
  border-spacing: 0px 3px;
  width: 100%;
  margin-bottom: 20px;
}

tr {
  text-align: justify;
  // background-color: #000;
  color: #a8a8a8;
  // border-radius: 100px;
  color: $accentColor;
}

.table-row:hover {
  background-color: $accentColor;
  color: $secondaryColor;
}

.td-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.td-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

td {
  padding: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.break-td {
  word-break: break-all;
}

li {
  list-style-type: none;
}

a {
  color: $secondaryColor !important;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: $accentColor !important;
}

button {
  background-color: transparent;
  border: none;
  color: $accentColor;
  padding: 3px;
  white-space: nowrap;
  padding: 10px;
 
}

button:hover {
  color: $secondaryColor;
 
}

i {
  cursor: pointer;
  color: $secondaryColor;
  font-size: 1.5rem;
}

i:hover {
  color: $primaryColor;
}

input {
  width: 100%;
}



thead tr.special-row th {
  padding-bottom: 60px;
}

.check {
  width: 16px;
  height: 16px;
}
