@use "../../../styles/variables.scss" as *;
@use "../../../styles/admin.scss" as *;



.media {
  width: 192px;
  height: 108px;
  object-fit: cover;
}

label:hover {
  background-color: $accentColor;
}

.ads-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.library-item {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  &__checkbox {
    margin-bottom: 1rem;
  }
}
