/* globe.component.scss */
.globe-container {
    position: absolute;
  /* Dopasuj wysokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie kontenera w poziomie */
    position: relative;
    overflow: hidden; /* Ukrywa wszystko, co wychodzi poza kontener */
  }
  

  
 