
<h1>Advertisement</h1>
<table>
    <thead>
        <tr class="special-row">
          <th class="add" colspan="3">
            <input type="file" (change)="onFileSelected($event)" id="fileInput"  />
          </th>
          <th class="add">
            <button >Add media</button>
          </th>
        </tr>
      </thead>
    
      <thead>
        <tr>
          <th>Order</th>
          <th>File name</th>
          <th>Preview</th>
          <th>Language</th>
          <th>Action</th>
        </tr>
      </thead>
</table>