@use "../../../styles/settings.scss" as *;



.countries{
  display: flex;
  flex-direction: column;
}
// .country{
//   width: 200px;
// }

.media {
  width: 192px;
  height: 108px;
  object-fit: cover;
}


.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.check {
  width: 16px; /* Możesz dostosować szerokość */
  height: 16px;
}








